<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



	<% @sessions.each do |s| %>
			<%= check_box_tag("user[session_ids][]", s.id, @user.sessions.include?(s) ) %>
			<%= label("user[session_ids]", "", s.formatteddate ) %><br />
	<% end %>









  <div class="control-group">
    <%= f.label :fname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :special, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :special, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :partysize, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :partysize, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :childrencount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :childrencount, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :childrenages, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :childrenages, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :registrationdate, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :registrationdate, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :loggedin, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :loggedin, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :loggedout, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :loggedout, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :usertype, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usertype, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :memberid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :memberid, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>