<%- model_class = @user.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:fname) %>:</strong><br>
  <%= @user.fname %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:lname) %>:</strong><br>
  <%= @user.lname %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:address) %>:</strong><br>
  <%= @user.address %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:address2) %>:</strong><br>
  <%= @user.address2 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:state) %>:</strong><br>
  <%= @user.state %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:zip) %>:</strong><br>
  <%= @user.zip %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:email) %>:</strong><br>
  <%= @user.email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:hphone) %>:</strong><br>
  <%= @user.hphone %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cphone) %>:</strong><br>
  <%= @user.cphone %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:message) %>:</strong><br>
  <%= @user.message %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:special) %>:</strong><br>
  <%= @user.special %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:partysize) %>:</strong><br>
  <%= @user.partysize %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:childrencount) %>:</strong><br>
  <%= @user.childrencount %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:childrenages) %>:</strong><br>
  <%= @user.childrenages %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:registrationdate) %>:</strong><br>
  <%= @user.registrationdate %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:loggedin) %>:</strong><br>
  <%= @user.loggedin %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:loggedout) %>:</strong><br>
  <%= @user.loggedout %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:usertype) %>:</strong><br>
  <%= @user.usertype %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:memberid) %>:</strong><br>
  <%= @user.memberid %>
</p>

<h2>User Sessions</h2>
<% @user.sessions.each do |s| %>
	<%= s.formatteddate %><br />
<% end %>




<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>