<%= form_for(@rsvp) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>

	<div class="field">
	  <%= label(:rsvp, :session_id, "Event:") %><br />
		<%= select("rsvp", "session_id", Session.all.collect {|p| [ p.formatteddate, p.id ] }, {:include_blank => true }) %>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
