<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rsvp.user %>
</p>

<p>
  <b>Session:</b>
  <%= @rsvp.session.date %>
</p>


<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
